# scikit-learn
***

## What is scikit-learn?
***
scikit-learn is a free open source python library that provides several tools for statistical modeling and machine learning. These include:
- Classification algorithms, used to identify the category an object belongs to.
- Regression algorithms, used to predict continuous-valued attributes associated with an object.
- Clustering algorithms, used to group objects that share similar features together.
- Dimensionality reduction algorithms, used to reduce the number of features within a data sample down to a set of principal features.
- Support algorithms and functions, used for data preparation, cleaning, and model selection.

scikit-learn is implemented for the most part in python but also uses cython for certain algorithms where performance is a priority. The library is also built upon or can be integrated with other libraries like NumPy, SciPy, and Mathplotlib.

## Setup
***

In [11]:
# Imports

# Numerical arrays
import numpy as np

# Data frames and series
import pandas as pd

# Plots
import matplotlib.pyplot as plt

# Fancier Plots
import seaborn as sns

## Wine Quality Dataset
***

In [12]:
# Load the red wine dataset from the datasets directory into a pandas dataframe called wine
wine = pd.read_csv("datasets/winequality-red.csv")

In [13]:
# Getting a look at the dataset
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [19]:
# Displays summary statistics for dataset.
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [20]:
# Gives the count of NaN values for each column in the dataframe
wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

**Note**
* Dataset appears to have no missing values.

In [16]:
# Gives the unique values for quality and orders by highest to lowest occurances of the value 
wine['quality'].unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

**Note**
* [Wine Quality Data Set](https://archive.ics.uci.edu/ml/datasets/Wine+Quality) page describes quality scale as being from 0 to 10 but only contains values from 3 to 8.

## Algorithm Demo #1

## Algorithm Demo #2

## Algorithm Demo #3